
<app-header></app-header>
<div class="container">
<h4>Add Products Here</h4>
<table id=#table>
    <tr>
        <th>Product id</th>
        <th>Product name</th>
        <th>Product description</th>
        <th>Product price</th>
        <th>Product image</th>
        <th>Product catogery</th>
        <th>Action</th>
    </tr>
    <tr>
        <td><input type="text" [(ngModel)]="product.id"></td>
        <td><input type="text" [(ngModel)]="product.name"></td>
        <td><input type="text"[(ngModel)]="product.description"></td> 
        <td><input type="text" [(ngModel)]="product.price"></td>
        <td><input type="text" [(ngModel)]="product.image"></td>
        <td><input type="text" [(ngModel)]="product.category"></td>
        <td><button type="submit" (click)=addProduct()>Create</button></td>       
    </tr>
</table>

<button (click)="showProducts()"><h4>Show Products</h4></button>
<button (click)="hideProducts()"><h4>Hide Products</h4></button>
<table *ngIf=visible>
    <tr>
        <th *ngFor="let column of headers">
          {{column}}
        </th>
    </tr>
    <tr *ngFor="let product of productList">
        <td *ngFor="let column of index">
          {{product[column]}}
        </td>
        <td><button (click)="delete(product.id)">Delete</button>
        <button (click)="edit(product.id)">Edit</button></td>
</table>
</div>