/* You can add global styles to this file, and also import other style files */
body{
    
    padding: 0px;
}
.guest-form-card h3{
    text-transform: uppercase;
    font-size: medium;
}
.guest-form-card label{
    font-size: small;
}
#footer {
    position:relative;
    bottom:0;
    
}