*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
#mainNav .img img{
    height: 84px;
}
#mainNav{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    position: fixed;
    background: #eee;
    transition: background 0.4s;
    width: 100%;
    top: 0px;
}

section:nth-of-type(1){
    margin-top: 84px;
}
section{
    height: 300px;
    padding: 20px;
    font-size: 24px;
}
section:nth-of-type(odd){
    background:#eee;
    color: #333;
}
section:nth-of-type(even){
    background:#333;
    color: #eee;
}

footer{
    height: 70px;
    align-items: center;
    justify-content: center;
    background: #eee;
    color: #333;
    display: flex;
}
#mainNav ul{
    list-style: none;
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-around;
}

#mainNav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.4s;

}
.bg-black{
    background: #333 !important;
}
.txt-white a{
    color: #eee !important;
}