<div class= "header">
    <h3><i>The Bloom Room</i></h3>
<ul>
    <li><a href="#">Home</a></li>
    <li><a [routerLink]="['/shop']">Shop</a>
    <div class="shop-options">
        <ul>
            <li><a href="#">Flowers</a></li>
            <li><a href="#">Bouquet</a></li>
            <li><a href="#">Cakes</a></li>
            <li><a href="#">Combo</a></li>
        </ul>
    </div></li>
    <li><a [routerLink]="['/cart']">Cart</a></li>
    <li><a [routerLink]="['/signin']">SignIn</a>

</ul>
</div>
<!--Remember there is an option to add sub list to cakes, Combo-->