.header{
    box-sizing: border-box;
    background-color: #cbece4;
    display: flex;
    justify-content: space-between;
    height:60px;
   
}
h3{
    margin:15px 50px 25px 75px;
    color:#3a643e; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
ul{
    list-style: none;
    display: flex;
    width: 500px;
    margin: 19px 70px 35px 60px;
    justify-content: space-around;
    font-weight: bolder;
    text-align: center;  
}
.header ul li{
    justify-content: space-around;
}
.header ul li a{
    text-decoration: none;
    color:#3a643e;
}
.shop-options{
    display: none;
}
.header ul li:hover .shop-options{
    display: block;
    position: absolute;
}
.header ul li:hover .shop-options ul{
    display: block;
}
button{
    border: 0px;
    height: 10px;
}