.footer{
    background-color:#cbece4;
    width: 100%;
    height: 60px;
    text-align: center;
    bottom: 0px;
    position: relative;
}
 .footer p {
     position: absolute;
     text-align: center;
     top: 15px;
     left: 40%;
}