<div class="footer">
    <div class="quick-shop">
        <h3>Quick Shop</h3>
        <ul>
            <li><a href="#">Flowers</a></li><br>
            <li><a href="#">Bouquet</a></li><br>
            <li><a href="#">Cakes</a></li><br>
            <li><a href="#">Combo</a></li><br>
        </ul>
    </div>
    <div class ="contact-us">
        <h3>Contact Us</h3>
        <address>
            Willson Graden,<br>
            Bangalore, Karnataka<br><br>
            91.789.888.3214<br>
            91.999.172.9888<br><br>
            support@thebloomroom.com
        </address>
    </div>
</div>

