<div class="footer">
    <div class="quick-shop">
        <h3>Quick Shop</h3>
        <ul>
            <li><a href="#">Flowers</a></li><br>
            <li><a href="#">Bouquet</a></li><br>
            <li><a href="#">Cakes</a></li><br>
            <li><a href="#">Combo</a></li><br>
        </ul>
    </div>
    <div class="services">
        <h3>Customer Services</h3>
        <p>Terms of services</p>
        <p>Refund policy</p>
        <p>Private policy</p>
    </div>
    <div class ="address">
        <h3>Address</h3>
        <address>
            Willson Graden,<br>
            Bangalore, Karnataka<br><br>
            91.789.888.3214<br>
            91.999.172.9888<br><br>
            support@thebloomroom.com
        </address>
        <h3>Stay Connected</h3>
    </div>
    <div class="subscribtion">
        <h3>Treat you inbox</h3>
        <p>Sign Up for our exclusive email list and be the first to know about new products and special offers</p>
        <form #subscribeForm=ngForm (submit)="subscribe(subscribeForm)">
           <div class="form-group">
           <input type="email" placeholder=" Email address" [(ngModel)]="emailField" name="emailField"><br>
           </div>
            <button class="btn btn-secondary">subscrib</button>
        </form>
    </div>
</div>

