<app-header></app-header>
<div class="container">
<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="guest-form-card card">
      <div class="card-body">
        <h3 class="text-center">Register</h3>
        <form [formGroup]="registrationForm">
          <div class="form-group">
              <label for="name">Name</label>
              <input 
              type="text" 
              class="form-control" 
              id="name" 
              [ngClass]="{'is-invalid': registrationForm.get('nameField').touched && registrationForm.get('nameField').invalid }" 
              placeholder="Name" 
              formControlName="nameField">
              <span class="invalid-feedback">Name can't be blank.</span>
            </div>
            <div class="form-group">
              <label for="userName">Username</label>
              <input 
              type="text" 
              class="form-control" 
              id="userName"  
              [ngClass]="{'is-invalid': registrationForm.get('userNameField').touched && registrationForm.get('userNameField').invalid }"
              placeholder="Username" 
              formControlName="userNameField">
              <span class="invalid-feedback">Username can't be blank.</span>
            </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input 
            type="email" 
            class="form-control" 
            id="email"
            [ngClass]="{'is-invalid': registrationForm.get('email').touched && registrationForm.get('email').invalid }"  
            placeholder="Enter email" 
            formControlName="email">
            <span class="invalid-feedback">
            <span *ngIf="registrationForm.get('email').hasError('required')">Email can't be blank.</span>
            <span *ngIf="registrationForm.get('email').hasError('pattern')">Enter valid email.</span>
          </span>
          </div>
          <div class="form-group">
              <label for="phoneNumber">Phone Number</label>
              <input 
              type="text" 
              class="form-control" 
              id="phoneNumber"  
              [ngClass]="{'is-invalid': registrationForm.get('phoneNumberField').touched && registrationForm.get('phoneNumberField').invalid }"
              placeholder="Phone number" 
              formControlName="phoneNumberField">
              <span class="invalid-feedback">Phone number can't be blank.</span>
            </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input 
            type="password" 
            class="form-control" 
            id="password" 
            [ngClass]="{'is-invalid': registrationForm.get('password').touched && registrationForm.get('password').invalid }"
            placeholder="Password" 
            formControlName="password">
            <span class="invalid-feedback">
             <span *ngIf="registrationForm.get('password').hasError('minLength(8)')"> </span>
            </span>
          </div>
          <button 
          type="submit" 
          class="btn btn-primary btn-block" 
          [disabled]="!registrationForm.valid">Submit</button>
          <a [routerLink]="['/signin']">Back to Login</a>
        </form>
      </div>
    </div>
  </div>
</div>
</div>

    
