.row{
    margin: 0px;
}
.modal-header{
    background-color:#cbece4;
}
#cartModalLongTitle{
    color: #3a643e;
}
.list-group{
    float:right;
    background-color:  #cbece4;
}
.empty-cart{
   background-color:#cbece4 ;
}
.card{
    border: 0px;
    margin-top: 40px;
    height: auto;
    background-color: #cbece4;
}