
.container{
    max-height:auto;
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    overflow: hidden;
   
}
.row{
    height: 460px;
}
input.ng-touched.ng-invalid {
    border:1px solid red;
}
