<h3>SignIn</h3>
<form class="Loginform">
    <input type="text" placeholder="phonenumber"><br>
    <input type="password" placeholder="password"><br>
    <button>Login</button>
</form>
<form class="registrationform">
    <input type="text" placeholder="user name"><br>
    <input type="phonenumber" placeholder="phonenumber"><br>
    <input type="email" placeholder="email"><br>
    <input type="text" placeholder="password"><br>
    <input type="password" placeholder="confirm password"><br>
    <button>Register</button>
</form>
