<h5>filters</h5>
<form>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="checkFlowers">
      <label class="form-check-label" for="checkFlowers">Flowers</label>
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="checkBouquet">
        <label class="form-check-label" for="checkBouquet">Bouquet</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="checkCakes">
        <label class="form-check-label" for="checkCakes">Cakes</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="checkCombo">
        <label class="form-check-label" for="checkCombo">Combo</label>
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>